.contact-icon-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

/*contact-icon-container a{
    line-height: 0; 
    font-size: 0;
    color: transparent; 
}*/

.contact-icon-container a {
  font-size: 1em;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

a .contact-icon {
	text-decoration: none;
  font-size: 2em;
}