.page-container {
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 20vh;
  width: 80vw;
  flex-direction: column;
  height: 69vh;
}

.fade-in {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
  opacity: 0;
}

@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1; }
}

.purple {
  color: #8a2666;
}

a {
  text-decoration: none;
}

.overflow-container {
  overflow: scroll;
}

.overflow-container::-webkit-scrollbar {
  display: none;
}

/* PHONES / IPAD*/
@media only screen and (max-width: 768px) {
  #sm-greeting {
    font-weight: 800;
    font-style: normal;
    font-size: 8em;
    margin: 0;
  }

  #lg-greeting {
    visibility: hidden;
    margin: 0;
    height: 0;
  }

  #intro {
    font-family: 'Lora', serif;
    font-size: 1.2em;
  }

  .topnav {
    display: flex;
    justify-content: space-evenly; 
    padding: 1em;
  }

  .topnav #nav-links {
    display: inline-block;
  }

  .overflow-container {
    height: 90vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  #sm-greeting {
    visibility: hidden;
    margin: 0;
    height: 0;
  }

  #lg-greeting {
    font-weight: 800;
    font-style: normal;
    font-size: 8em;
    margin: 0;
  }

  .topnav #nav-links {
    display: flex;
    flex-direction: column;
  }

  .page-container {
    margin-top: 10vh;
    font-size: x-large;
  }

  .overflow-container {
    overflow: scroll;
    height: 70vh;
    max-width: 80%;
    margin: auto;
  }

  .about-container {
    font-size: x-large;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
